<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>잠실점</title>

<!-- 헤더 -->
<th:block th:replace="~{@{fragments/header}}"></th:block>
<!-- 헤더 -->

</head>

<style>
#minusZ {
	z-index: -1;
}
</style>


<body>

	<!-- 내용 -->
	<section class="content">

		<div class="flex flex-col items-center justify-center gap-y-6 min-h-[760px] w-full bg-cover bg-center bg-no-repeat relative z-0"
			style="background-image: url('/resource/무대사진.jpg');">
			<div id="minusZ" class="absolute h-full w-full bg-black bg-opacity-10"></div>
			<p class="text-white text-7xl font-serif">SS Music Academy</p>
			<p class="text-white text-7xl h-24">잠실점(예정)</p>
		</div>


<!-- 		<div class="flex flex-col items-center justify-center gap-y-6 px-40 py-20"> -->
<!-- 			<p class="text-3xl">SS Music Academy 잠실점</p> -->
<!-- 			<p class="px-40">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore accusamus ab dolore magni -->
<!-- 				dignissimos ullam error impedit autem laborum itaque eos fuga odio sequi. Eligendi vero obcaecati consectetur ea -->
<!-- 				accusantium.</p> -->
<!-- 			<button class="btn btn-sm">문의하기</button> -->
<!-- 		</div> -->


<!-- 		<div class="flex flex-col items-center justify-center gap-y-6 px-40 py-20 bg-green-200"> -->
<!-- 			<p class="text-3xl">SS Music Academy 강점</p> -->
<!-- 			<p>SS Music Academy 연습실</p> -->
<!-- 			<div class="h-80 w-3/4 bg-yellow-200">사진</div> -->
<!-- 			<p>SS Music Academy 프로그램</p> -->
<!-- 			<div class="h-80 w-3/4 bg-yellow-200">사진</div> -->
<!-- 			<p>SS Music Academy 교재</p> -->
<!-- 			<div class="h-80 w-3/4 bg-yellow-200">사진</div> -->
<!-- 		</div> -->


		<div class="flex flex-col items-center justify-center gap-y-6 px-40 py-40">
			<p class="text-3xl">SS Music Academy 잠실점 강사진</p>
			<div class="flex gap-x-5">
				<div class="h-80 w-56 bg-cover bg-center bg-no-repeat flex flex-col items-center justify-end"
					style="background-image: url('/resource/구보근 프로필사진.jpg');">
					<p class="text-white text-2xl">구보근</p>
					<p class="text-white text-sm">클래식기타</p>
					<br>
					<p class="text-white text-sm">insta :</p>
				</div>
			</div>
		</div>

		<div class="flex flex-col items-center justify-center gap-y-6 px-40 py-20 bg-red-200">
			<p class="text-3xl">SS Music Academy(로고)</p>
			<button class="btn btn-sm">문의하기(기능 아직)</button>
		</div>

		<div class="flex flex-col items-center justify-center gap-y-6 px-40 py-20 bg-blue-200">
			<p class="text-3xl">SS Music Academy 정보</p>

			<div class="flex justify-around w-full">
				<div class="flex flex-col">
					<p>가격</p>
					<p>1개월 : 25만원(주1회)</p>
					<br>
					<p>주소</p>
					<p>서울특별시 잠실</p>
					<br>
					<p>연락처</p>
					<p>010-0000-0000</p>
					<br>
					<p>운영시간</p>
					<p>평일 : 10:00 ~ 21:00</p>
				</div>
				<div class="h-96 w-72 bg-yellow-200">지도</div>

			</div>

		</div>


	</section>




	<!-- 푸터 -->
	<th:block th:replace="~{@{fragments/footer}}"></th:block>
	<!-- 푸터 -->
</body>
</html>

