<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>SSMA학원소개</title>

<!-- 헤더 -->
<th:block th:replace="~{@{fragments/header}}"></th:block>
<!-- 헤더 -->

</head>

<style>
#minusZ {
	z-index: -1;
}
</style>

<body>

	<section class="content">

		<!-- 페이지 이름 박스 -->
		<div class="flex flex-col items-center justify-center px-40 py-40">
			<p class="text-5xl pb-20">SSMA (Seoul Superior Music Academy) 학원 소개</p>
			<p class="text-2xl px-40">SSMA (Seoul Superior Music Academy)는 학생들의 음악적 꿈과 목표를 실현할 수 있도록 최상의 교육 환경을 제공하는 학원입니다.</p>
			<p class="text-2xl px-40">저희 학원은 전문성과 열정을 겸비한 서울대 출신 강사진과 국내 및 유럽에서 활발히 연주 활동을 펼치고 있는 강사들로 구성되어 있습니다.</p>
			<p class="text-2xl px-40">1:1 개인 레슨을 통해 개개인의 수준과 목표에 맞춘 맞춤형 교육을 제공합니다.</p>
		</div>


		<!-- 
		제공 서비스 박스 -->
		<div class="flex flex-col items-center justify-center gap-y-6 px-40 py-40 bg-yellow-200">
			<p class="text-4xl pb-20">제공 서비스</p>
			<p class="text-3xl">1. 맞춤형 1:1 개인 레슨</p>
			<p class="text-3xl">각 학생의 수준과 목표에 맞춘 개별 학습 계획을 수립하여 효과적인 학습이 이루어지도록 합니다.</p>
			<p class="text-3xl">2. 소수 정예 클래스</p>
			<p class="text-3xl">한 반에 적은 수의 학생들만 배치하여 개인별 맞춤 지도가 가능하게 합니다.</p>
			<p class="text-3xl">3. 정기적인 피드백 및 상담</p>
			<p class="text-3xl">정기적인 학습 상태 점검과 피드백을 통해 학생들의 성장을 돕습니다.</p>
			<p class="text-3xl">4. 학부모 상담</p>
			<p class="text-3xl">정기적인 학부모 상담을 통해 학생의 학업 성취도와 개선 사항을 공유합니다.</p>
			<button class="btn btn-sm">문의하기</button>
		</div>

		<!-- 커리큘럼 박스 -->
		<div class="flex flex-col items-center justify-center gap-y-6 px-40 py-40 bg-gray-200">
			<p class="text-4xl pb-20">커리큘럼</p>
			<p class="text-3xl">저희 학원은 클래식 기타, 재즈 피아노, 음악 이론 등 다양한 음악 분야에서 폭넓은 커리큘럼을 제공합니다. 각 과목은 최신 교육 트렌드와 학생들의 필요에 맞춰 설계되어
				있습니다.</p>
			<p class="text-3xl"># 클래식 기타</p>
			<p class="text-3xl">초급</p>
			<p class="text-3xl">중급</p>
			<p class="text-3xl">입시 A</p>
			<p class="text-3xl">입시 B</p>
			<p class="text-3xl"># 테크닉 트레이닝</p>
			<p class="text-3xl">초급</p>
			<p class="text-3xl">중급</p>
			<p class="text-3xl">입시 A</p>
			<p class="text-3xl">입시 B</p>
			<p class="text-3xl"># 통기타</p>
			<p class="text-3xl">초급</p>
			<p class="text-3xl">중급</p>
			<p class="text-3xl"># 재즈 피아노</p>
			<p class="text-3xl">초급</p>
			<p class="text-3xl">중급</p>
			<p class="text-3xl">입시</p>
			<p class="text-3xl"># 음악 이론</p>
			<p class="text-3xl">초급</p>
			<p class="text-3xl">중급</p>
			<p class="text-3xl"># CCM 반주 피아노</p>
			<p class="text-3xl">초급</p>
			<p class="text-3xl">중급</p>
			<p class="text-3xl">입시</p>
			<p class="text-3xl"># 그룹 및 특별 레슨</p>
			<p class="text-3xl">기타 앙상블</p>
			<p class="text-3xl">그룹 레슨 (클래식 기타)</p>
			<p class="text-3xl">그룹 레슨 (통기타)</p>
			<p class="text-3xl">ABRSM (통합 과정)</p>
			<p class="text-3xl">ABRSM (A 과정)</p>
			<p class="text-3xl">ABRSM (B 과정)</p>
			<button class="btn btn-sm">문의하기</button>
		</div>

		<!-- 학습 환경 박스 -->
		<div class="flex flex-col items-center justify-center gap-y-6 px-40 py-40 bg-yellow-200">
			<p class="text-4xl pb-20">학습 환경</p>
			<p class="text-3xl">저희 학원은 학생들이 편안하고 집중할 수 있는 최적의 학습 환경을 제공합니다. 레슨실과 연습실, 연주와 리허설이 가능한 연주홀을 갖추고 있으며, 쾌적한 학습 분위기를
				조성합니다.</p>

	<div class="h-80 w-72 bg-cover bg-center rounded-lg" style="background-image: url('/resource/연습실1.jpg');"></div>
		</div>

		<!-- 성과 박스 -->
		<div class="flex flex-col items-center justify-center gap-y-6 px-40 py-40 bg-gray-200">
			<p class="text-4xl pb-20">성과</p>
			<p class="text-3xl">이미 SSMA (Seoul Superior Music Academy)에는 예원, 예고, 및 전공 대학생들 그리고 높은 수준의 아마추어 연주자들이 함께 하여 눈부신
				성과를 거두고 있습니다.</p>

			<div>사진!</div>

		</div>


		<!-- 강사진 박스 -->
		<div class="flex flex-col items-center justify-center gap-y-6 px-40 py-40 bg-green-200">
			<p class="text-4xl pb-20">SS Music Academy 강사진</p>
			<p class="text-3xl">SSMA (Seoul Superior Music Academy) 학원은 최고의 강사진을 자랑합니다. 각 분야의 전문가로 구성된 강사들은 풍부한 경험과 전문 지식을
				바탕으로 학생들을 지도합니다.</p>

			<div class="flex justify-center gap-x-5 w-full py-20">
				<div class="h-80 w-56 bg-cover bg-center bg-no-repeat flex flex-col items-center justify-end"
					style="background-image: url('/resource/허원경 프로필사진.jpg');">
					<p class="text-white text-2xl">허원경</p>
					<p class="text-white text-sm">클래식기타</p>
					<br>
					<p class="text-white text-sm">insta : @heo_won_gyung</p>
				</div>
				<div class="h-80 w-56 bg-cover bg-center bg-no-repeat flex flex-col items-center justify-end"
					style="background-image: url('/resource/임재민 프로필사진.jpg');">
					<p class="text-white text-2xl">임재민</p>
					<p class="text-white text-sm">클래식기타</p>
					<br>
					<p class="text-white text-sm">insta :</p>
				</div>
				<div class="h-80 w-56 bg-cover bg-center bg-no-repeat flex flex-col items-center justify-end"
					style="background-image: url('/resource/허대욱 프로필사진.jpg');">
					<p class="text-white text-2xl">허대욱</p>
					<p class="text-white text-sm">재즈피아노</p>
					<br>
					<p class="text-white text-sm">insta :</p>
				</div>
				<!-- 				<div class="h-80 w-56 bg-cover bg-center bg-no-repeat flex flex-col items-center justify-end" -->
				<!-- 					style="background-image: url('/resource/허병훈 프로필사진.jpg');"> -->
				<!-- 					<p class="text-white text-2xl">허병훈</p> -->
				<!-- 					<p class="text-white text-sm">클래식기타</p> -->
				<!-- 					<br> -->
				<!-- 					<p class="text-white text-sm">insta :</p> -->
				<!-- 				</div> -->
				<!-- 				<div class="h-80 w-56 bg-cover bg-center bg-no-repeat flex flex-col items-center justify-end" -->
				<!-- 					style="background-image: url('/resource/구보근 프로필사진.jpg');"> -->
				<!-- 					<p class="text-white text-2xl">구보근</p> -->
				<!-- 					<p class="text-white text-sm">클래식기타</p> -->
				<!-- 					<br> -->
				<!-- 					<p class="text-white text-sm">insta :</p> -->
				<!-- 				</div> -->
				<!-- 				<div class="h-80 w-56 bg-cover bg-center bg-no-repeat flex flex-col items-center justify-end" -->
				<!-- 					style="background-image: url('/resource/원유현 프로필사진.jpg');"> -->
				<!-- 					<p class="text-white text-2xl">원유현</p> -->
				<!-- 					<p class="text-white text-sm">클래식기타</p> -->
				<!-- 					<br> -->
				<!-- 					<p class="text-white text-sm">insta :</p> -->
				<!-- 				</div> -->
			</div>
			<button class="btn mt-12" onclick="window.location.href='/artist/list'">강사진 더 알아보기</button>
		</div>



		<!-- 오시는 길 박스 -->
		<div class="flex flex-col items-center justify-center gap-y-6 px-40 py-40 bg-blue-200">
			<p class="text-4xl pb-20">SS Music Academy 오시는 길</p>

			<div class="flex justify-center gap-x-20 w-full">
				<div class="flex flex-col">
					<p class="text-2xl font-bold">SS Music Academy 양재점</p>
					<br>
					<p>가격</p>
					<p>1개월 : 25만원(주1회)</p>
					<br>
					<p>주소</p>
					<p>서울특별시 도곡동945-4(예인빌딩) 4층</p>
					<br>
					<p>연락처</p>
					<p>010-0000-0000</p>
					<br>
					<p>운영시간</p>
					<p>평일 : 10:00 ~ 21:00</p>
					<p>주말 : 10:00 ~ 21:00</p>
				</div>
				<!-- 지도 태그 -->
				<div class="h-96 w-72" id="map"></div>


			</div>

		</div>


	</section>




	<!-- 푸터 -->
	<th:block th:replace="~{@{fragments/footer}}"></th:block>
	<!-- 푸터 -->
</body>
</html>



<!-- 지도api -->
<script type="text/javascript"
	src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2fa009069ca9821257d2e333b1e9a3ed&libraries=services"></script>

<!-- 지도 및 위도경도 -->
<script>
	var map;
	var mapContainer = document.getElementById('map'); // 지도를 표시할 div 

	function initMap() {
		var mapOption = {
			center : new kakao.maps.LatLng(37.488902233685, 127.03329726345), // 지도의 중심좌표(위도, 경도)
			level : 5
		// 지도의 확대 레벨
		};

		map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

		// 지도에 표시
		setCenter(37.488902233685, 127.03329726345);
	}

	// 주소에서 얻은 위도,경도로 지도 이동 및 마커 추가
	function setCenter(lat, lon) {
		// 마커가 표시될 위치를 생성합니다
		var markerPosition = new kakao.maps.LatLng(lat, lon);

		// 중심 좌표를 변경하여 지도의 중심을 설정합니다
		map.setCenter(markerPosition);

		// 마커를 생성합니다
		var marker = new kakao.maps.Marker({
			position : markerPosition,
			map : map
		// 마커가 지도 위에 표시되도록 설정합니다
		});
	}

	// 페이지 로드 시 initMap 함수를 호출하여 지도를 초기화합니다
	document.addEventListener("DOMContentLoaded", function() {
		initMap();
	});
</script>
