<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>SSMA학원소개</title>

<!-- 헤더 -->
<th:block th:replace="~{@{fragments/header}}"></th:block>
<!-- 헤더 -->

</head>

<style>
#minusZ {
	z-index: -1;
}
</style>

<body>

	<section class="content">

		<!-- 페이지 이름 박스 -->
		<div class="flex flex-col items-center justify-center gap-y-6 px-40 py-40 ">
			<p class="text-5xl pb-20">SSMA (Seoul Superior Music Academy) 학원 소개</p>
			<p class="text-2xl">SSMA (Seoul Superior Music Academy)는 학생들의 음악적 꿈과 목표를 실현할 수 있도록 최상의 교육 환경을 제공하는 학원입니다.</p>
			<p class="text-2xl">저희 학원은 전문성과 열정을 겸비한 서울대 출신 강사진과 국내 및 유럽에서 활발히 연주 활동을 펼치고 있는 강사들로 구성되어 있습니다.</p>
			<p class="text-2xl">1:1 개인 레슨을 통해 개개인의 수준과 목표에 맞춘 맞춤형 교육을 제공합니다.</p>
		</div>


		<!-- 
		제공 서비스 박스 -->
		<div class="flex flex-col items-center justify-center gap-y-6 px-40 py-40 bg-yellow-200">
			<p class="text-4xl pb-20">제공 서비스</p>
			<p class="text-3xl">1. 맞춤형 1:1 개인 레슨</p>
			<p class="text-3xl">각 학생의 수준과 목표에 맞춘 개별 학습 계획을 수립하여 효과적인 학습이 이루어지도록 합니다.</p>
			<p class="text-3xl">2. 소수 정예 클래스</p>
			<p class="text-3xl">한 반에 적은 수의 학생들만 배치하여 개인별 맞춤 지도가 가능하게 합니다.</p>
			<p class="text-3xl">3. 정기적인 피드백 및 상담</p>
			<p class="text-3xl">정기적인 학습 상태 점검과 피드백을 통해 학생들의 성장을 돕습니다.</p>
			<p class="text-3xl">4. 학부모 상담</p>
			<p class="text-3xl">정기적인 학부모 상담을 통해 학생의 학업 성취도와 개선 사항을 공유합니다.</p>
		</div>

		<!-- 커리큘럼 박스 -->
		<div class="w-full flex flex-col items-center justify-center gap-y-6 px-40 py-40 bg-gray-200">
			<p class="text-4xl pb-20">커리큘럼</p>
			<p class="text-3xl">저희 학원은 클래식 기타, 재즈 피아노, 음악 이론 등 다양한 음악 분야에서 폭넓은 커리큘럼을 제공합니다. 각 과목은 최신 교육 트렌드와 학생들의 필요에 맞춰 설계되어
				있습니다.</p>

			<div class="flex items-center justify-center gap-x-40 w-full py-20 text-center">
				<div class="h-48 w-48 bg-yellow-200 rounded-full flex flex-col items-center justify-center whitespace-nowrap">
					<p class="text-3xl"># 클래식 기타</p>
					<p class="text-xl">초급</p>
					<p class="text-xl">중급</p>
					<p class="text-xl">입시 A</p>
					<p class="text-xl">입시 B</p>
				</div>
				<div class="h-48 w-48 bg-yellow-200 rounded-full flex flex-col items-center justify-center whitespace-nowrap">
					<p class="text-3xl"># 테크닉 트레이닝</p>
					<p class="text-xl">초급</p>
					<p class="text-xl">중급</p>
					<p class="text-xl">입시 A</p>
					<p class="text-xl">입시 B</p>
				</div>
				<div class="h-48 w-48 bg-yellow-200 rounded-full flex flex-col items-center justify-center whitespace-nowrap">
					<p class="text-3xl"># 통기타</p>
					<p class="text-xl">초급</p>
					<p class="text-xl">중급</p>
				</div>
			</div>

			<div class="flex items-center justify-center gap-x-40 w-full py-20 text-center">
				<div class="h-48 w-48 bg-yellow-200 rounded-full flex flex-col items-center justify-center whitespace-nowrap">
					<p class="text-3xl"># 재즈 피아노</p>
					<p class="text-xl">초급</p>
					<p class="text-xl">중급</p>
					<p class="text-xl">입시</p>
				</div>
				<div class="h-48 w-48 bg-yellow-200 rounded-full flex flex-col items-center justify-center whitespace-nowrap">
					<p class="text-3xl"># 음악 이론</p>
					<p class="text-xl">초급</p>
					<p class="text-xl">중급</p>
				</div>
				<div class="h-48 w-48 bg-yellow-200 rounded-full flex flex-col items-center justify-center whitespace-nowrap">
					<p class="text-3xl"># CCM 반주 피아노</p>
					<p class="text-xl">초급</p>
					<p class="text-xl">중급</p>
					<p class="text-xl">입시</p>
				</div>
			</div>

			<div class="flex items-center justify-center gap-x-40 w-full py-20 text-center">
				<div class="h-48 w-48 bg-yellow-200 rounded-full flex flex-col items-center justify-center whitespace-nowrap">
					<p class="text-3xl"># 그룹 및 특별 레슨</p>
					<p class="text-xl">기타 앙상블</p>
					<p class="text-xl">그룹 레슨 (클래식 기타)</p>
					<p class="text-xl">그룹 레슨 (통기타)</p>
					<p class="text-xl">ABRSM (통합 과정)</p>
					<p class="text-xl">ABRSM (A 과정)</p>
					<p class="text-xl">ABRSM (B 과정)</p>
				</div>
			</div>
		</div>

		<!-- 학습 환경 박스 -->
		<div class="flex flex-col items-center justify-center gap-y-6 px-40 py-40 bg-yellow-200">
			<p class="text-4xl pb-20">학습 환경</p>
			<p class="text-3xl">저희 학원은 학생들이 편안하고 집중할 수 있는 최적의 학습 환경을 제공합니다. 레슨실과 연습실, 연주와 리허설이 가능한 연주홀을 갖추고 있으며, 쾌적한 학습 분위기를
				조성합니다.</p>

			<div class="w-full flex items-center justify-center gap-x-6 pt-20">
				<div class="h-96 w-80 bg-cover bg-center rounded-lg" style="background-image: url('/resource/연습실1.jpg');"></div>
				<div class="h-96 w-80 bg-cover bg-center rounded-lg" style="background-image: url('/resource/연습실2.jpg');"></div>
				<div class="h-96 w-80 bg-cover bg-center rounded-lg" style="background-image: url('/resource/연습실3.jpg');"></div>
				<div class="h-96 w-80 bg-cover bg-center rounded-lg" style="background-image: url('/resource/연습실4.jpg');"></div>

			</div>
			<div class="w-full flex items-center justify-center gap-x-6 pt-20">
				<div class="h-96 w-80 bg-cover bg-center rounded-lg" style="background-image: url('/resource/무대1.jpg');"></div>
				<div class="h-96 w-80 bg-cover bg-center rounded-lg" style="background-image: url('/resource/무대2.jpg');"></div>
				<div class="h-96 w-80 bg-cover bg-center rounded-lg" style="background-image: url('/resource/무대3.jpg');"></div>
				<div class="h-96 w-80 bg-cover bg-center rounded-lg" style="background-image: url('/resource/복도1.jpg');"></div>

			</div>

		</div>

		<!-- 성과 박스 -->
		<div class="flex flex-col items-center justify-center gap-y-6 px-40 py-40 bg-gray-200">
			<p class="text-4xl pb-20">성과</p>
			<p class="text-3xl">이미 SSMA (Seoul Superior Music Academy)에는 예원, 예고, 및 전공 대학생들 그리고 높은 수준의 아마추어 연주자들이 함께 하여 눈부신
				성과를 거두고 있습니다.</p>

			<div>사진!</div>

		</div>

	</section>


	<!-- 푸터 -->
	<th:block th:replace="~{@{fragments/footer}}"></th:block>
	<!-- 푸터 -->
</body>
</html>



