<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>SSMA 허병훈</title>

<!-- 헤더 -->
<th:block th:replace="~{@{fragments/header}}"></th:block>
<!-- 헤더 -->

</head>


<body>


	<section class="content">

		<!-- 페이지 이름 박스 -->
		<div class="flex flex-col items-center justify-center px-40 py-40">
			<p class="text-5xl">SS뮤직아카데미 교수진</p>

		</div>


		<!-- 강사진 프로필 박스 -->
		<div class="flex flex-col justify-center items-start gap-y-10 w-full px-40 lg:justify-start lg:gap-x-10 lg:flex-row">
			<div class="h-[900px] w-full bg-cover bg-center rounded-lg lg:h-[800px] xl:h-[800px] lg:w-[800px] xl:w[800px]"
				style="background-image: url('/resource/허병훈 프로필사진.jpg');"></div>

			<div class="flex flex-col w-full">
				<div class="flex justify-between">
					<div class="flex flex-col">
						<p class="text-3xl">허병훈 객원교수</p>
						<p class="text-lg">기타리스트</p>
					</div>
				</div>
				<br>
				<br>
				<div class="text-xl lg:text-base xl:text:base">
					<p class="text-center font-bold">약력</p>
					<br>
					-스페인 마드리드 왕립음악원(Real Conservatorio Superior de Música de Madrid) 졸업_최고교수 및 최고연주자 학위, 기타과 장학생, 수석 졸업
					<br>
					-동음악원 졸업콩쿨 심사위원 만장일치 최고상 (El Premio de Honor) 수상 ​
					<br>
					-KBS, 서울윈드 오케스트라,15회 국제 Pen Music Festival 등 초청  협연
					<br>
					-T.V, 라디오 허병훈 콘서트
					<br>
					-마드리드 기타연주가협회 초청 독주회
					<br>
					-스페인 문공성 초청 독주회
					<br>
					-Cuenca Iberoamerica 국제 기타페스티벌 등 국내외 수회의 초청 독주회 ​
					<br>
					-한국기타연주가협회 회장 역임
					<br>
					-현재 한국기타협회 고문, ​수원대학교 음악대학원 겸임교수
					<br>
					<br>
					<br>
					<p class="text-center font-bold">저서</p>
					<br>
					즐거운 클래식기타1-8
					<br>
					기타 동요150곡집1.2.3
					<br>
					기타명곡 컬렉션
					<br>
					빌라로보스 기타명곡집
					<br>
					현대 클래식기타 연주곡집1.2
					<br>
					기타연주가를 위한 세계명곡집1.2.3 등 다수 출판
					<br>
					(삼호출판사,세광출판사,유니온출판사,디자인기타 등) ​

				</div>



			</div>
		</div>

	</section>

	<!-- 푸터 -->
	<th:block th:replace="~{@{fragments/footer}}"></th:block>
	<!-- 푸터 -->
</body>
</html>

