<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>SSMA 임재민</title>

<!-- 헤더 -->
<th:block th:replace="~{@{fragments/header}}"></th:block>
<!-- 헤더 -->

</head>


<body>


	<section class="content">

		<!-- 페이지 이름 박스 -->
		<div class="flex flex-col items-center justify-center px-40 py-40">
			<p class="text-5xl">SS뮤직아카데미 교수진</p>

		</div>


		<!-- 강사진 프로필 박스 -->
		<div class="flex flex-col justify-center items-start gap-y-10 w-full px-40 lg:justify-start lg:gap-x-10 lg:flex-row">
			<div class="h-[900px] w-full bg-cover bg-center rounded-lg lg:h-[800px]  lg:w-[800px] "
				style="background-image: url('/resource/임재민 프로필사진.jpg');"></div>

			<div class="flex flex-col w-full">
				<div class="flex justify-between">
					<div class="flex flex-col">
						<p class="text-3xl">임재민 교수</p>
						<p class="text-lg">기타리스트</p>
					</div>
					<div class="flex items-center gap-x-20 text-3xl lg:gap-x-10  lg:text-base ">
						<a href="https://www.instagram.com/skylim527?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
							target="_blank">
							<i class="fa-brands fa-instagram fa-2xl"></i>
						</a>
					</div>
				</div>
				<br>
				<br>
				<div class="text-xl lg:text-base ">
					기타리스트 임재민은 서울대학교 음악대학 기악과에 입학하여 기타리스트 허원경을 사사했으며, 졸업 후 스페인 알리칸테 음악원 (Conservatorio Superior de Musica "Oscar Espla"
					de Alicante)에서 석사 과정을 수석 입학을 하고 우수한 성적으로 졸업했다. 프랑스의 드 앙토니 국제 기타 콩쿠르, 음악협회콩쿠르, 서울바로크 합주단 콩쿠르, 기타협회 콩쿠르, 국민일보 실내악
					콩쿠르, 유니버셜음악 실내악 콩쿠르 등에서 입상하며 두각을 나타냈다. ​
					<br>
					<br>
					그는 스페인에서 등에서 파워풀함과 다채로운 음색, 동시에 섬세함을 가진 연주로 주목받았고, 알리칸테 음악원의 CSMA 오케스트라와 ADDA 홀에서 협연, Monover, Elche 청중들을 매료 시켰다.
					한국에서는 한국기타협회 정기 연주회, 대한민국 기타 페스티벌, 수성아트피아 기타 페스티벌, 부산 골방, 빛섬아트갤러리, 파리 뮤직 포럼 자양 스테이션 등에서 초청 연주를 하며 활동하고 있다. 최근 귀국 이후
					세종문화회관에서 기타 리사이틀을 성공적으로 마쳤다. 또한 비바 기타 앙상블로 활동 중인 그는 현재 한국기타협회 이사이며, 가천대학교와 수원대학교 겸임교수로 후학 양성에도 힘 쓰고 있다.
				</div>



			</div>
		</div>

	</section>

	<!-- 푸터 -->
	<th:block th:replace="~{@{fragments/footer}}"></th:block>
	<!-- 푸터 -->
</body>
</html>

