<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>SSMA 허원경</title>

<!-- 헤더 -->
<th:block th:replace="~{@{fragments/header}}"></th:block>
<!-- 헤더 -->

</head>


<body>


	<section class="content">

		<!-- 페이지 이름 박스 -->
		<div class="flex flex-col items-center justify-center px-40 py-40">
			<p class="text-5xl">SS뮤직아카데미 교수진</p>

		</div>


		<!-- 강사진 프로필 박스 -->
		<div class="flex flex-col justify-center items-start gap-y-10 w-full px-40 lg:justify-start lg:gap-x-10 lg:flex-row">
			<div class="h-[900px] w-full bg-cover bg-center rounded-lg lg:h-[800px] xl:h-[800px] lg:w-[800px] xl:w[800px]"
				style="background-image: url('/resource/허원경 프로필사진.jpg');"></div>

			<div class="flex flex-col w-full">
			<div class="flex justify-between">
				<div class="flex flex-col">
				<p class="text-3xl">허원경 원장</p>
				<p class="text-lg">기타리스트</p>
				</div>
				<div class="flex items-center gap-x-20 text-3xl lg:gap-x-10 xl:gap-x-10 lg:text-base xl:text-base">
					<a href="https://www.instagram.com/heo_won_gyung?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
						target="_blank">
						<i class="fa-brands fa-instagram fa-2xl"></i>
					</a>
					<a href="https://blog.naver.com/guitarresca" target="_blank">
						<img src="/resource/naverblog_black.svg" alt=""
							class="w-[80px] h-[80px] object-cover lg:w-[35px] lg:h-[35px] xl:w-[35px] xl:h-[35px]" />
					</a>
				</div>
				</div>
				<br>
				<br>
				<div class="text-xl lg:text-base xl:text:base">
					기타리스트 허원경은 서울대학교 음악대학을 졸업하고 스페인 국비 장학생으로 마드리드 왕립 음악원 (Real Conservatorio Superior de Música de Madrid)의 최고 교수 및 최고
					연주자 학위를 취득하였다. 대학교 재학 중 대전일보 주최 콩쿠르에서 1위를 하며 데뷔 리사이틀을 가졌으며 스페인 U.N.E.F 주최 국제 음악학교, Musica en Santiago 과정의 장학생으로
					선발되기도 하였다. ​
					<br>
					<br>
					캐나다 La Salle Francoys-Bernier, 스즈키 국제 페스티벌 초청연주, 한서교류 음악회(마드리드, 톨레도, 그라나다 및 바르셀로나 순회 연주), 한국기타앙상블 페스티벌, SICMF
					서울국제컴퓨터 음악제, ACL-Korea 뉴뮤직 콘서트, KOCOA 뮤직 페스티벌, 한국국제기타 포럼 & 페스티벌 등에 독주자 및 협연자로 초청되었으며 그가 리더로 이끄는 "VIVA Guitar
					Ensemble"로 실내악과 현대음악 연주 그리고 매년 리사이틀로 관객들과의 소통의 창구를 열어 놓고 현재 활발하게 활동 중이다. 또한 2021년 전곡 스페인 곡으로 이루어진 앨범인 “Aire de
					España”(스페인의 인상)는 전문가들과 음악 애호가들에게 큰 호응을 끌어냈다. ​​
					<br>
					<br>
					후학 양성에 큰 힘을 쏟고 있는 그는 해마다 클래식 기타 캠프를 열어오며 국내 유수의 대학에서 교편을 잡았다. 서울대학교, 연세대학교, 평택대학교, 가천대학교, 목원대학교, 예원예술대학교, 경기예고,
					선화예고, 안양예고 등의 학교에서 강사 역임 하였으며, 현재 수원대학교 및 동대학원 기타페다고지 겸임 교수, 총신콘서바토리, 예원학교, 서울예고, 계원예고에 출강중이다.
				</div>



			</div>
		</div>

	</section>

	<!-- 푸터 -->
	<th:block th:replace="~{@{fragments/footer}}"></th:block>
	<!-- 푸터 -->
</body>
</html>

