<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>Artist</title>
<!-- common css-->
<link th:href="@{/css/common.css}" rel="stylesheet" />

<!-- 이 페이지 css -->
<style>
table {
	border: 1px solid black;
	border-collapse: collapse;
	width: 90%;
	margin:0 auto;
}

th, td {
	border: 1px solid black;
	padding: 8px;
	text-align: center;
}
</style>


</head>


<body>
	<!-- 헤더 -->
	<th:block layout:fragment="header" th:replace="~{@{fragments/header}}"></th:block>
	<!-- 헤더 -->


	<div layout:fragment="content" class="content">
		<h2>artist page</h2>

		<hr />

		<table>
			<tr>
				<th>id</th>
				<th>regDate</th>
				<th>updateDate</th>
				<th>name</th>
				<th>gender</th>
				<th>birth</th>
			</tr>
			<th:block th:each="artist : ${artists}">
				<tr>
					<td th:text="${ artist.id }"></td>
					<td th:text="${ artist.regDate }"></td>
					<td th:text="${ artist.updateDate }"></td>
					<td th:text="${ artist.name}"></td>
					<td th:text="${ artist.gender }"></td>
					<td th:text="${ artist.birth }"></td>
				</tr>
			</th:block>
		</table>

	</div>




	<!-- 푸터 -->
	<th:block layout:fragment="footer" th:replace="~{@{fragments/footer}}"></th:block>
	<!-- 푸터 -->
</body>
</html>


<script>
	
</script>
