<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>SSMA 허대욱</title>

<!-- 헤더 -->
<th:block th:replace="~{@{fragments/header}}"></th:block>
<!-- 헤더 -->

</head>


<body>


	<section class="content">

		<!-- 페이지 이름 박스 -->
		<div class="flex flex-col items-center justify-center px-40 py-40">
			<p class="text-5xl">SS뮤직아카데미 교수진</p>

		</div>


		<!-- 강사진 프로필 박스 -->
		<div class="flex flex-col justify-center items-start gap-y-10 w-full px-40 lg:justify-start lg:gap-x-10 lg:flex-row">
			<div class="h-[900px] w-full bg-cover bg-center rounded-lg lg:h-[800px]  lg:w-[800px] "
				style="background-image: url('/resource/허대욱 프로필사진.jpg');"></div>

			<div class="flex flex-col w-full">
				<div class="flex justify-between">
					<div class="flex flex-col">
						<p class="text-3xl">허대욱 교수</p>
						<p class="text-lg">재즈피아니스트/작곡가</p>
					</div>
					<div class="flex items-center gap-x-20 text-3xl lg:gap-x-10  lg:text-base ">
						<a href="https://www.instagram.com/heomusique?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
							target="_blank">
							<i class="fa-brands fa-instagram fa-2xl"></i>
						</a>
					</div>
				</div>
				<br>
				<br>
				<div class="text-xl lg:text-base">
					<p class="text-center font-bold">- ALBUM -</p>
					<br>
					2023 WILL IT BE SPRING TOMORROW ? (내일이면 봄일까?) piano solo Nuier label
					<br>
					2019 SHERPA(셰르파) HEO TRIO | Cristal Records. Sony music entertainment France
					<br>
					2012 INTERVAL OF PARALELLE (평행의 간격) piano trio - Vitamin ent
					<br>
					2010 TRIGRAM (괘) piano solo - Audioguy
					<br>
					2008 LE MOMENT DISPÉRSÉ(흩어진 순간들) piano trio - EMI Korea
					<br>
					2007 TO THE WEST(서쪽으로) piano trio - EMI Korea
					<br>
					<br>
					<br>
					<p class="text-center font-bold">주요 페스티벌 및 공연</p>
					<br>
					2024 paris La salle gaveau HEO trio
					<br>
					2023 서울스테이션11(서울문화재단) HEO trio
					<br>
					2023 자라섬x데블스도어 재즈페스티벌 HEO trio
					<br>
					2023 석사천재즈페스티벌 HEO trio
					<br>
					2023 자라섬재즈페스티벌 HEO trio
					<br>
					2023 세계무용축제 “감각자료” 유빈댄스 음악감독
					<br>
					2023 함안문화예술회관 허대욱 피아노 솔로
					<br>
					2023 하우스콘서트 24시간 프로젝트. 더 하우스콘서트
					<br>
					2021 빔하우스(네덜란드) HEO trio
					<br>
					2020 링컨 케네디 센터(미국) (잠정연기)HEO trio
					<br>
					2020 연극 박정자의 “노래처럼 말해줘” 음악감독
					<br>
					2019 취리히 미츠 서울 HEO trio
					<br>
					2019 헝가리 부다페스트 뮤직센터 HEO trio
					<br>
					2019 HEO trio 음반 발매 공연(파리)Sunside
					<br>
					2019 재즈토닉 페스티벌 HEO trio
					<br>
					2019 태화강 국제 재즈 페스티벌 HEO trio
					<br>
					2018 멕시코 예술 국립극장 HEO trio
					<br>
					2018 Morelia music festival(멕시코) HEO trio. 모렐리아 뮤직 페스티벌
					<br>
					2018 Acapulco festival(멕시코) HEO trio. 아카풀코 뮤직 페스티벌
					<br>
					2018 Musiq3 festival(벨기에) HEO trio
					<br>
					2017 자라섬 국재 재즈 패스티벌 HEO trio
					<br>
					2015 마드리드 한국문화원
					<br>
					2014 LIG art center HEO trio with 스트링 오케스트라.서울.부산
					<br>
					2014 LIG art center 피아노 솔로. 서울.부산
					<br>
					2014 LIG문화재단 연간 아티스트 선정
					<br>
					2013 프랑스문화원 광주.부산
					<br>
					2013 프랑스 문화원 (파리)
					<br>
					2013 세종문화회관 재즈 페스티벌
					<br>
					2013 자라섬 국제재즈 페스티벌
					<br>
					2012 한국문화원(파리)
					<br>
					2012 마포아트센터 허대욱 트리오 단독공연
					<br>
					2009 Au sud du nord 재즈페스티벌 (프랑스)
					<br>
					2009 헝가리 문화원(파리) 피아노 솔로
					<br>
					2009 재지컬러스 페스티벌(파리)
					<br>
					2005 자라섬 국재 재즈페스티벌
					<br>
					<br>
					<br>
					<p class="text-center font-bold">방송</p>
					<br>
					MBC radio 라이브 피아노 트리오
					<br>
					Naver on stage 프렌치 트리오
					<br>
					KBS 문화지대 허대욱편
					<br>
					EBS 공감 피아노 솔로
					<br>
					EBS 공감 피아노 허대욱 트리오
					<br>
					EBS 공감 HEO trio

				</div>



			</div>
		</div>

	</section>

	<!-- 푸터 -->
	<th:block th:replace="~{@{fragments/footer}}"></th:block>
	<!-- 푸터 -->
</body>
</html>

