<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>SSMA 허대욱</title>

<!-- 헤더 -->
<th:block th:replace="~{@{fragments/header}}"></th:block>
<!-- 헤더 -->

</head>


<body>


	<section class="content">

		<!-- 페이지 이름 박스 -->
		<div class="flex flex-col items-center justify-center px-40 py-40">
			<p class="text-5xl pb-20">SSMA (Seoul Superior Music Academy) 허대욱</p>
			<p class="text-2xl ">SSMA (Seoul Superior Music Academy) 학원은 최고의 강사진을 자랑합니다.</p>
			<p class="text-2xl ">각 분야의 전문가로 구성된 강사들은 풍부한 경험과 전문 지식을 바탕으로 학생들을 지도합니다.</p>
		</div>


		<!-- 강사진 프로필 박스 -->
		<div class="flex flex-col items-center justify-center gap-y-20 px-40 pb-40">
			<div class="flex flex-col justify-center items-center gap-y-10 w-full lg:justify-start lg:gap-x-20 lg:flex-row">
				<div class="h-[600px] w-full bg-cover bg-center rounded-lg lg:w-[500px]"
					style="background-image: url('/resource/허대욱 프로필사진.jpg');"></div>
				<div class="flex flex-col w-full">
					<p class="text-3xl">허대욱</p>
					<p>재즈피아노</p>
					<br>
					<p># 앨범</p>
					<p>2023 WILL IT BE SPRING TOMORROW ? (내일이면 봄일까?) piano solo Nuier label</p>
					<p>2019 SHERPA(셰르파) HEO TRIO | Cristal Records. Sony music entertainment France</p>
					<p>2012 INTERVAL OF PARALELLE (평행의 간격) piano trio - Vitamin ent</p>
					<p>2010 TRIGRAM (괘) piano solo - Audioguy</p>
					<p>2008 LE MOMENT DISPÉRSÉ(흩어진 순간들) piano trio - EMI Korea</p>
					<p>2007 TO THE WEST(서쪽으로) piano trio - EMI Korea</p>
					<p># 주요 페스티벌 및 공연</p>
					<p>2024 paris La salle gaveau HEO trio</p>
					<p>2023 서울스테이션11(서울문화재단) HEO trio</p>
					<p>2023 자라섬x데블스도어 재즈페스티벌 HEO trio</p>
					<p>2023 석사천재즈페스티벌 HEO trio</p>
					<p>2023 자라섬재즈페스티벌 HEO trio</p>
					<p>2023 세계무용축제 “감각자료” 유빈댄스 음악감독</p>
					<p>2023 하우스콘서트 24시간 프로젝트. 더 하우스콘서트 함안문화예술회관 허대욱 피아노 솔로</p>
					<p># 방송</p>
					<p>MBC radio 라이브 피아노 트리오</p>
					<p>Naver on stage 프렌치 트리오</p>
					<p>KBS 문화지대 허대욱편</p>
					<p>EBS 공감 피아노 솔로</p>
					<p>EBS 공감 피아노 허대욱 트리오</p>
					<p>EBS 공감 HEO trio</p>
				</div>
			</div>
			<div>sns icons(todo)</div>
			<div>youtube links(todo)</div>

		</div>





	</section>

	<!-- 푸터 -->
	<th:block th:replace="~{@{fragments/footer}}"></th:block>
	<!-- 푸터 -->
</body>
</html>

