<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>SSMA 허병훈</title>

<!-- 헤더 -->
<th:block th:replace="~{@{fragments/header}}"></th:block>
<!-- 헤더 -->

</head>


<body>


	<section class="content">

		<!-- 페이지 이름 박스 -->
		<div class="flex flex-col items-center justify-center px-40 py-40">
			<p class="text-5xl pb-20">SSMA (Seoul Superior Music Academy) 허병훈</p>
			<p class="text-2xl ">SSMA (Seoul Superior Music Academy) 학원은 최고의 강사진을 자랑합니다.</p>
			<p class="text-2xl ">각 분야의 전문가로 구성된 강사들은 풍부한 경험과 전문 지식을 바탕으로 학생들을 지도합니다.</p>
		</div>


		<!-- 강사진 프로필 박스 -->
		<div class="flex flex-col items-center justify-center gap-y-20 px-60 pb-40">
			<div class="flex justify-start gap-x-10 w-full">
				<div class="h-80 w-72 bg-cover bg-center rounded-lg" style="background-image: url('/resource/허병훈 프로필사진.jpg');"></div>
				<div class="flex flex-col w-full">
					<p class="text-2xl">허병훈</p>
					<p>클래식기타</p>
					<p>insta :</p>
					<p>양재점</p>
					<br>
					<p>-스페인 마드리드 왕립음악원(Real Conservatorio Superior de Música de Madrid) 졸업_최고교수 및 최고연주자 학위, 기타과 장학생, 수석 졸업</p>
					<p>-동음악원 졸업콩쿨 심사위원 만장일치 최고상 (El Premio de Honor) 수상</p>
					<p>-KBS, 서울윈드 오케스트라,15회 국제 Pen Music Festival 등 초청 협연, T.V, 라디오 허병훈 콘서트, 마드리드 기타연주가협회초청,스페인 문공성 초청, Cuenca
						Iberoamerica 국제 기타페스티벌 등 국내외 수회의 초청 독주회 ​</p>
					<p>- 저서: 즐거운 클래식기타1-8, 기타 동요150곡집1.2.3, 기타명곡 컬렉션, 빌라로보스 기타명곡집, 현대 클래식기타 연주곡집1.2, 기타연주가를 위한 세계명곡집1.2.3 등 다수 출판
						(삼호출판사,세광출판사,유니온출판사,디자인기타 등) ​</p>
					<p>-한국기타연주가협회 회장 역임 -현재 한국기타협회 고문, ​수원대학교 음악대학원 겸임교수</p>

				</div>
			</div>
			<div>sns icons(todo)</div>
			<div>youtube links(todo)</div>

		</div>





	</section>

	<!-- 푸터 -->
	<th:block th:replace="~{@{fragments/footer}}"></th:block>
	<!-- 푸터 -->
</body>
</html>

