<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>SSMA(Seoul Superior Music Academy) 커리큘럼</title>

<!-- 헤더 -->
<th:block th:replace="~{@{fragments/header}}"></th:block>
<!-- 헤더 -->

</head>

<style>
#minusZ {
	z-index: -1;
}
</style>

<body>

	<!-- 내용 -->
	<section class="content">

		<!-- 페이지 이름 박스 -->
		<div class="flex flex-col items-center justify-center px-40 py-40">
			<p class="text-5xl pb-20">SS Music Academy 커리큘럼</p>
			<p class="text-lg">SSMA 음악학원을 선택해야 하는 이유! 커리큘럼!</p>
		</div>

		<!-- 커리큘럼 표 박스 -->
		<div class="px-40 pt-20 pb-40 bg-[#FFECB3]">
			<table class="table table-zebra w-full pt-20">
				<!-- head -->
				<thead>
					<tr>
						<th></th>
						<th>제목</th>
						<th>내용</th>
						<th>악기</th>
					</tr>
				</thead>
				<tbody>
					<!-- row 1 -->
					<tr>
						<th>1</th>
						<td>초급</td>
						<td>클래식기타 초급 커리큘럼 내용</td>
						<td>클래식기타</td>
					</tr>
					<!-- row 2 -->
					<tr>
						<th>2</th>
						<td>중급</td>
						<td>클래식기타 중급 커리큘럼 내용</td>
						<td>클래식기타</td>
					</tr>
					<!-- row 3 -->
					<tr>
						<th>3</th>
						<td>입시</td>
						<td>재즈피아노 입시 커리큘럼 내용</td>
						<td>재즈피아노</td>
					</tr>
					<!-- row 4 -->
					<tr>
						<th>4</th>
						<td>초급</td>
						<td>음악이론 초급 커리큘럼 내용</td>
						<td>음악이론</td>
					</tr>
				</tbody>
			</table>
		</div>




	</section>

	<!-- 푸터 -->
	<th:block th:replace="~{@{fragments/footer}}"></th:block>
	<!-- 푸터 -->
</body>
</html>

