<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>Main</title>
<!-- common css-->
<link th:href="@{/css/common.css}" rel="stylesheet" />
<!-- 테일윈드css -->
<link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.7/dist/full.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script>
<!-- 폰트어썸 아이콘 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
</head>


<body>
	<!-- 헤더 -->
	<th:block th:replace="~{@{fragments/header}}"></th:block>
	<!-- 헤더 -->

	<!-- 내용 -->
	<section class="content">
		<div
			class="main_bg_image flex flex-col items-center justify-center min-h-[760px] w-full bg-cover bg-center bg-no-repeat gap-y-10"
			style="background-image: url('resource/ssma피아노실.jpg');">
			<div class="text-white text-7xl">SS Music Academy</div>
			<div class="text-white text-7xl h-48">양재점</div>
		</div>

		<div class="text-center h-48 ">SS Music Academy 양재점</div>
		<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus debitis hic modi a cum fuga eius odit
			at consequuntur fugit quasi aliquam corrupti tempora soluta non facilis rem voluptatem molestias.</div>
		<div>Error provident odio fugit autem officia cumque eaque sint obcaecati dolorum minus hic quidem debitis.
			Facere tempora veritatis cumque saepe nihil dolor laboriosam aperiam perspiciatis possimus atque itaque fugit nisi!</div>
		<div>Quo ad id tenetur blanditiis libero temporibus nesciunt est ex nihil rem. Tenetur molestiae earum aut
			adipisci quos eos architecto minus natus veniam excepturi delectus distinctio omnis odio quibusdam officia!</div>
		<div>Nulla harum obcaecati rem totam est vero necessitatibus ipsa alias porro exercitationem illo eius beatae?
			Eaque velit ex libero reiciendis fugiat delectus alias sunt dolore ad molestiae excepturi dolores illum.</div>
		<div>Earum tempora quos molestias et nihil. Nulla doloremque non blanditiis enim magni maxime possimus
			voluptatem aspernatur dolorem itaque adipisci quisquam ab earum ullam magnam fuga expedita unde necessitatibus
			tenetur quibusdam.</div>
		<div>Delectus itaque alias nisi placeat tempore culpa voluptatibus dolorum vel voluptatem nostrum? Rerum
			molestias veniam earum similique assumenda porro perferendis aliquid veritatis vero sequi voluptatum maxime quisquam
			officia quia accusantium!</div>
		<div>Error at molestias itaque eum ullam architecto? Illo a deleniti temporibus repudiandae harum doloremque
			nesciunt expedita sequi aspernatur recusandae maiores odit amet culpa nulla vel consectetur possimus beatae non
			neque.</div>
		<div>Aut asperiores perferendis maiores deleniti dolore fuga architecto suscipit reiciendis. Porro nobis velit
			minima unde aliquid dolorem accusantium veritatis quae officia nulla repellat nemo sunt ipsam architecto reiciendis
			mollitia possimus?</div>
		<div>Natus voluptatibus laborum similique harum expedita aut animi voluptas omnis dignissimos nulla tenetur
			laudantium accusantium sapiente eaque quidem! Quia quis blanditiis tempore eos error dicta hic at neque praesentium
			voluptates.</div>
		<div>Quis modi excepturi soluta voluptatem quod neque culpa impedit officia alias nobis adipisci quasi. Non
			tenetur cupiditate in animi quos sit quidem praesentium molestiae ipsam reprehenderit tempora atque laudantium
			commodi.</div>


	</section>




	<!-- 푸터 -->
	<th:block th:replace="~{@{fragments/footer}}"></th:block>
	<!-- 푸터 -->
</body>
</html>

