<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>Main</title>

<!-- 헤더 -->
<th:block th:replace="~{@{fragments/header}}"></th:block>
<!-- 헤더 -->

</head>


<body>

	<!-- 내용 -->
	<section class="content">

		<div class="flex flex-col items-center justify-center gap-y-6 min-h-[760px] w-full bg-cover bg-center bg-no-repeat "
			style="background-image: url('/resource/ssma피아노실.jpg');">
			<p class="text-white text-7xl">SS Music Academy</p>
			<aside class="h-24"></aside>
		</div>


		<div class="flex flex-col items-center justify-center gap-y-6 px-40 py-20 bg-blue-200">
			<p class="text-3xl">SS Music Academy 소개</p>
			<p class="px-40">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore accusamus ab dolore magni
				dignissimos ullam error impedit autem laborum itaque eos fuga odio sequi. Eligendi vero obcaecati consectetur ea
				accusantium.</p>
			<button class="btn btn-sm">문의하기</button>
		</div>


		<div class="flex flex-col items-center justify-center gap-y-6 px-40 py-20 bg-green-200">
			<p class="text-3xl">학원 핵심 포인트 및 사진</p>
			<p>SS Music Academy 연습실</p>
			<div class="h-80 w-3/4 bg-yellow-200">사진</div>
			<p>SS Music Academy 프로그램</p>
			<div class="h-80 w-3/4 bg-yellow-200">사진</div>
			<p>SS Music Academy 교재</p>
			<div class="h-80 w-3/4 bg-yellow-200">사진</div>
		</div>


		<div class="flex flex-col items-center justify-center gap-y-6 px-40 py-40">
			<p class="text-3xl">SS Music Academy 강사진</p>
			<div class="flex gap-x-5">
				<div class="h-80 w-56 bg-cover bg-center bg-no-repeat flex flex-col items-center justify-end"
					style="background-image: url('/resource/허원경 프로필사진.jpg');">
					<p class="text-white text-2xl">허원경</p>
					<p class="text-white text-sm">클래식기타</p>
					<br>
					<p class="text-white text-sm">insta : @heo_won_gyung</p>
				</div>
				<div class="h-80 w-56 bg-cover bg-center bg-no-repeat flex flex-col items-center justify-end"
					style="background-image: url('/resource/임재민 프로필사진.jpg');">
					<p class="text-white text-2xl">임재민</p>
					<p class="text-white text-sm">클래식기타</p>
					<br>
					<p class="text-white text-sm">insta :</p>
				</div>
				<div class="h-80 w-56 bg-cover bg-center bg-no-repeat flex flex-col items-center justify-end"
					style="background-image: url('/resource/허대욱 프로필사진.jpg');">
					<p class="text-white text-2xl">허대욱</p>
					<p class="text-white text-sm">재즈피아노</p>
					<br>
					<p class="text-white text-sm">insta :</p>
				</div>
				<div class="h-80 w-56 bg-cover bg-center bg-no-repeat flex flex-col items-center justify-end"
					style="background-image: url('/resource/허병훈 프로필사진.jpg');">
					<p class="text-white text-2xl">허병훈</p>
					<p class="text-white text-sm">클래식기타</p>
					<br>
					<p class="text-white text-sm">insta :</p>
				</div>
			</div>
		</div>


		<div class="flex flex-col items-center justify-center gap-y-6 px-40 py-20 bg-red-200">
			<p class="text-3xl">SS Music Academy 정보</p>

			<div class="flex justify-around w-full">
				<div class="flex flex-col">
					<p>가격</p>
					<p>1개월 : 25만원(주1회)</p>
					<br>
					<p>주소</p>
					<p>서울특별시 도곡동945-4(예인빌딩) 4층</p>
					<br>
					<p>연락처</p>
					<p>010-0000-0000</p>
					<br>
					<p>운영시간</p>
					<p>평일 : 10:00 ~ 21:00</p>
				</div>
				<div class="h-96 w-72 bg-yellow-200">지도</div>

			</div>

		</div>


	</section>




	<!-- 푸터 -->
	<th:block th:replace="~{@{fragments/footer}}"></th:block>
	<!-- 푸터 -->
</body>
</html>

