<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>Main</title>
<!-- common css-->
<link th:href="@{/css/common.css}" rel="stylesheet" />
<!-- 테일윈드css -->
<link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.7/dist/full.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script>


</head>


<body>
	<!-- 헤더 -->
	<th:block th:replace="~{@{fragments/header}}"></th:block>
	<!-- 헤더 -->

	<!-- 내용 -->
	<div class="content">
		<div class="text-center">SS Music Academy</div>
	</div>





	<!-- 푸터 -->
	<th:block th:replace="~{@{fragments/footer}}"></th:block>
	<!-- 푸터 -->
</body>
</html>


<script>
	
</script>
