<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>Contact</title>

<!-- 헤더 -->
<th:block th:replace="~{@{fragments/header}}"></th:block>
<!-- 헤더 -->




</head>


<body>


	<section class="content">

		<div class="flex flex-col items-center justify-center gap-y-20 px-40 py-32">
			<p class="text-5xl">SS Music Academy 샵</p>

			<div class="flex items-center justify-center gap-x-20">
				<div class="flex flex-col items-center justify-center gap-y-5">
					<div class="h-40 w-32 bg-red-200"></div>
					<p>클래식기타 50호</p>
				</div>
				<div class="flex flex-col items-center justify-center gap-y-5">
					<div class="h-40 w-32 bg-red-200"></div>
					<p>클래식기타 100호</p>
				</div>
				<div class="flex flex-col items-center justify-center gap-y-5">
					<div class="h-40 w-32 bg-red-200"></div>
					<p>클래식기타 200호</p>
				</div>
				<div class="flex flex-col items-center justify-center gap-y-5">
					<div class="h-40 w-32 bg-red-200"></div>
					<p>클래식기타 500호</p>
				</div>
			</div>
			<div class="flex items-center justify-center gap-x-20">
				<div class="flex flex-col items-center justify-center gap-y-5">
					<div class="h-40 w-32 bg-red-200"></div>
					<p>클래식기타 연주용</p>
				</div>
				<div class="flex flex-col items-center justify-center gap-y-5">
					<div class="h-40 w-32 bg-blue-200"></div>
					<p>재즈피아노 교재</p>
				</div>
				<div class="flex flex-col items-center justify-center gap-y-5">
					<div class="h-40 w-32 bg-blue-200"></div>
					<p>클래식기타 교재</p>
				</div>
				<div class="flex flex-col items-center justify-center gap-y-5">
					<div class="h-40 w-32 bg-blue-200"></div>
					<p>클래식기타 악보집</p>
				</div>
			</div>

		</div>
	</section>




	<!-- 푸터 -->
	<th:block th:replace="~{@{fragments/footer}}"></th:block>
	<!-- 푸터 -->
</body>
</html>


<!-- 이 페이지 css -->
<style>
table {
	border: 1px solid black;
	border-collapse: collapse;
	width: 90%;
	margin: 0 auto;
}

th, td {
	border: 1px solid black;
	padding: 8px;
	text-align: center;
}
</style>
