
<!--  tailwind UI class 이름 footer 겹쳐서 foot으로 수정 -->

<!-- 문의하기 박스 -->
<div class="flex flex-col items-center justify-center px-40 ">
	<div class="h-72 w-96 bg-contain bg-center bg-no-repeat"
		style="background-image: url('/resource/로고_기본.jpg');"></div>
	<!-- 	<p>문의하세요~ (설명란)</p> -->
	<!-- 	<button class="btn btn-sm">상담 예약하기(네이버예약 고려)</button> -->
</div>

<!-- 푸터 정보 -->
<div class="foot text-sm flex flex-col justify-around px-40 text-white">

	<nav class="w-full flex items-center justify-between">
		<div>
			<ul>
				<li>상호명 : 에스에스엠에이(SSMA)음악학원</li>
				<li>대표자 : 허원경</li>
				<li>대표번호 : 02) 577-5703</li>
				<li>이메일 : immusic.manager.com</li>

			</ul>
		</div>

		<div>
			<ul class="flex gap-x-20 items-center">
				<li>
					<a href="">
						<i class="fa-brands fa-youtube fa-2xl"></i>
					</a>
				</li>
				<li>
					<a href="">
						<i class="fa-brands fa-instagram fa-2xl"></i>
					</a>
				</li>
				<li>
					<a href="">
						<i class="fa-brands fa-facebook fa-2xl"></i>
					</a>
				</li>
				<li>
					<a href="">
						<img src="/resource/naverblog.svg" alt="" style="width: 35px; height: 35px; object-fit: cover;" />
					</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="text-center">COPYRIGHT © SSMA (Seoul Superior Music Academy). 2024 ALL RIGHTS RESERVED.</div>

</div>
