<!--  tailwind UI class 이름 footer 겹쳐서 foot으로 수정 -->

<!-- 로고 박스 -->
<div class="flex flex-col items-center justify-center px-40 ">
	<div class="h-72 w-96 bg-contain bg-center bg-no-repeat" style="background-image: url('/resource/로고_기본.jpg');"></div>
	<!-- 	<p>문의하세요~ (설명란)</p> -->
	<!-- 	<button class="btn btn-sm">상담 예약하기(네이버예약 고려)</button> -->
</div>

<!-- 푸터 정보 -->
<div
	class="bg-[#004aae] h-[400px] w-full flex flex-col justify-around px-10 text-xl text-white lg:text-sm  lg:h-[200px]  lg:px-40 ">

	<nav
		class="w-full flex flex-col-reverse items-center justify-between gap-y-10 text-3xl lg:text-base  lg:flex-row ">
		<div>
			<ul>
				<li>상호명 : 에스에스엠에이(SSMA)음악학원</li>
				<li>사업자 등록번호 : 605-95-95763</li>
				<li>학원 운영등록 : 제14754호</li>				
				<li>대표자 : 허원경</li>
				<li>대표번호 : 02) 577-5703</li>
				<li>이메일 : immusic.manager@gmail.com</li>
			</ul>
		</div>

		<div>
			<ul class="flex gap-x-36 items-center justify-center lg:gap-x-20 ">
				<!-- 				<li> -->
				<!-- 					<a href=""> -->
				<!-- 						<i class="fa-brands fa-youtube fa-2xl"></i> -->
				<!-- 					</a> -->
				<!-- 				</li> -->
				<li>
					<a href="https://www.instagram.com/ssma_music_academy?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
						target="_blank">
						<i class="fa-brands fa-instagram fa-2xl"></i>
					</a>
				</li>
				<!-- 				<li> -->
				<!-- 					<a href=""> -->
				<!-- 						<i class="fa-brands fa-facebook fa-2xl"></i> -->
				<!-- 					</a> -->
				<!-- 				</li> -->
				<li>
					<a href="https://m.blog.naver.com/ssma_music" target="_blank">
						<img src="/resource/naverblog_white.svg" alt=""
							class="w-[80px] h-[80px] object-cover lg:w-[35px] lg:h-[35px] xl:w-[35px] " />
					</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="text-center">COPYRIGHT © SSMA(Seoul Superior Music Academy). 2024 ALL RIGHTS RESERVED.</div>

</div>
