<!--  tailwind UI class 이름 footer 겹쳐서 foot으로 수정 -->
<div class="foot text-sm flex flex-col justify-around px-40">

	<nav class="w-full flex items-center justify-between">
		<div>
			<ul>
				<li>상호명 : SS Music Academy</li>
				<li>대표자 : 허원경</li>
				<li>대표번호 : </li>
				<li>이메일 : immusic.manager.com</li>

			</ul>
		</div>
		
		<div>
			<ul class="flex gap-x-20 items-center">
				<li>
					<a href="">
						<i class="fa-brands fa-youtube fa-2xl" style="color: #c4302b;"></i>
					</a>
				</li>
				<li>
					<a href="">
						<i class="fa-brands fa-instagram fa-2xl"></i>
					</a>
				</li>
				<li>
					<a href="">
						<img src="resource/네이버블로그.svg" alt="" style="width: 35px; height: 35px; object-fit: cover;" />
					</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="text-right">COPYRIGHT © SSMusicAcademy. 2024 ALL RIGHTS RESERVED.</div>

</div>
