<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta charset="UTF-8">
<!-- common css-->
<link th:href="@{/css/common.css}" rel="stylesheet" />
<!-- 테일윈드css -->
<link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.7/dist/full.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script>
<!-- 폰트어썸 아이콘 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />

<div class="header">

	<nav class="h-full w-full flex items-center justify-between px-40">
		<div>
			<a href="/main">SSMA (Seoul Superior Music Academy)</a>
		</div>
		<div>
			<ul class="flex gap-x-20 text-sm">
				<li>
					<a href="/main">SSMA학원소개</a>
				</li>
				<!-- 				<li> -->
				<!-- 					<a href="/branch/yangjae">SSMA학원소개</a> -->
				<!-- 				프랜차이즈 버전 -->
				<!-- 					<div class="dropdown dropdown-hover"> -->
				<!-- 						<a href="/branch/yangjae">SSMA 지점</a> -->
				<!-- 						<ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-24 p-2 shadow "> -->
				<!-- 							<li> -->
				<!-- 								<a href="/branch/yangjae">양재점</a> -->
				<!-- 							</li> -->
				<!-- 							<li> -->
				<!-- 								<a href="/branch/jamsil">잠실점(예정)</a> -->
				<!-- 							</li> -->
				<!-- 						</ul> -->
				<!-- 					</div> -->

				<!-- 				</li> -->
				<!-- 				<li> -->
				<!-- 					<a href="/artist/list">강사진</a> -->
				<!-- 				</li> -->
				<li>
					<a href="/curriculum">커리큘럼</a>
				</li>
				<li>
					<a href="/location">오시는 길</a>
				</li>
				<!-- 				<li> -->
				<!-- 					<a href="/shop">SHOP</a> -->
				<!-- 				</li> -->
			</ul>
		</div>
		<!-- 		<div class="text-sm">회원관리</div> -->
	</nav>

</div>