<div class="header">

	<nav class="h-full flex items-center justify-between px-40">
		<div>SS Music Academy</div>
		<div>
			<ul class="flex gap-x-20 text-sm">
				<li>
					<a href="">홈</a>
				</li>
				<li>
					<div class="dropdown dropdown-hover">
						<a href="">SSMA 소개</a>
						<ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-24 p-2 shadow ">
							<li>
								<a href="">양재점</a>
							</li>
							<li>
								<a href="">잠실점</a>
							</li>
						</ul>
					</div>

				</li>
				<li>
					<a href="">강사진</a>
				</li>
				<li>
					<a href="">문의하기</a>
				</li>
			</ul>
		</div>
	</nav>

</div>

<style>
</style>
