<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta charset="UTF-8">
<!-- common css-->
<link th:href="@{/css/common.css}" rel="stylesheet" />
<!-- 테일윈드css -->
<link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.7/dist/full.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script>
<!-- 폰트어썸 아이콘 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />

<div class="h-[120px] bg-[#004aae] w-full fixed top-0 z-[99] xl:h-[80px] lg:h-[80px] md:h-[100px]">
	<nav class="h-full w-full flex items-center justify-between px-20">
		<div>
			<div onclick="window.location.href='/main'"
				class="h-full w-40 bg-contain bg-center bg-no-repeat cursor-pointer lg:w-24 xl:w-24"
				style="background-image: url('/resource/로고_SSMA_확대.jpg');"></div>
		</div>
		<!-- pc버전 -->
		<div class="hidden lg:block xl:block">
			<ul class="flex gap-x-20 text-white text-base">
				<li>
					<a href="/main">아카데미 소개</a>
				</li>
				<!-- 				<li> -->
				<!-- 					<a href="/branch/yangjae">SSMA학원소개</a> -->
				<!-- 				프랜차이즈 버전 -->
				<!-- 					<div class="dropdown dropdown-hover"> -->
				<!-- 						<a href="/branch/yangjae">SSMA 지점</a> -->
				<!-- 						<ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-24 p-2 shadow "> -->
				<!-- 							<li> -->
				<!-- 								<a href="/branch/yangjae">양재점</a> -->
				<!-- 							</li> -->
				<!-- 							<li> -->
				<!-- 								<a href="/branch/jamsil">잠실점(예정)</a> -->
				<!-- 							</li> -->
				<!-- 						</ul> -->
				<!-- 					</div> -->

				<!-- 				</li> -->
				<!-- 				<li> -->
				<!-- 					<a href="/artist/list">강사진</a> -->
				<!-- 				</li> -->
				<li>
					<a href="/curriculum">커리큘럼</a>
				</li>
				<li>
					<a href="/location">오시는 길</a>
				</li>
				<!-- 				<li> -->
				<!-- 					<a href="/shop">SHOP</a> -->
				<!-- 				</li> -->
			</ul>
		</div>
		<!-- 모바일 버전 -->
		<div class="block lg:hidden xl:hidden">
			<!-- daisy ui로 drawer 기능 사용 -->
			<div class="drawer drawer-end">
				<input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
				<div class="drawer-content">
					<label for="my-drawer-4" class="drawer-button text-white text-4xl">
						<i class="fa-solid fa-bars"></i>
					</label>
				</div>
				<div class="drawer-side">
					<label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>
					<ul class="menu bg-base-200 text-base-content min-h-full w-1/2 p-5 pt-12 text-4xl space-y-10">
						<li>
							<a href="/main">아카데미 소개</a>
						</li>
						<li>
							<a href="/curriculum">커리큘럼</a>
						</li>
						<li>
							<a href="/location">오시는 길</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- 여기까지 daisy ui로 drawer 기능 사용 -->
		</div>
	</nav>

</div>