/* 노멀라이즈 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* 커스텀 */
/* 폰트 */
@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

html>body {
	font-family: 'Pretendard-Regular';
}

/* 헤더, 푸터 고정을 위한 설정 -> */
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.header {
	background-color: skyblue;
	height: 60px;
	width: 100%;
	position: fixed;
	top: 0;
}

.content {
	margin-top: 60px;
	margin-bottom: auto;
}

/*  tailwind UI 때문에 class 이름 footer에서 foot으로 수정 */
.foot {
	background-color: yellow;
	height: 150px;
	width: 100%;
}
/* <- 헤더, 푸터 고정을 위한 설정 */