/* 노멀라이즈 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* 커스텀 */
/* 폰트 */
@import
	url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap')
	;
/* @font-face { */
/* 	src: */
/* 		url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); */
/* 	font-family: "Rubik", sans-serif; */
/* 	font-optical-sizing: auto; */
/* 	font-weight: 500; */
/* 	font-style: bold; */
/* } */
html, body {
	font-family: 'Rubik', sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh; /* 헤더, 푸터 고정을 위한 설정 -> */
	overflow-x: hidden;
}

.content {
	margin-top: 80px;
	margin-bottom: auto;
}